<?xml  version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" >
<!-- Generated via Iro -->
<dict>
  <key>fileTypes</key>
  <array> 
    <string>dx</string>
   </array>
  <key>name</key>
  <string>dex</string>
  <key>patterns</key>
  <array> 
    <dict>
      <key>include</key>
      <string>#main</string>
    </dict>
   </array>
  <key>scopeName</key>
  <string>source.dex</string>
  <key>uuid</key>
  <string></string>
  <key>repository</key>
  <dict>
    <key>main</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\b(def|for|rof|case|of|llam|Read|Write|Accum|data|interface|instance|where)\b)</string>
          <key>name</key>
          <string>keyword.other.dex</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\b(\d+\.\d+|\d+))</string>
          <key>name</key>
          <string>constant.numeric.dex</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\(|\)|\[|\]|\{|\}|;)</string>
          <key>name</key>
          <string>punctuation.dex</string>
        </dict>
        <dict>
          <key>begin</key>
          <string>(&quot;)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>punctuation.dex</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#main__1</string>
            </dict>
           </array>
          <key>end</key>
          <string>(&quot;)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>punctuation.dex</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>match</key>
          <string>(--[^o].*)</string>
          <key>name</key>
          <string>comment.dex</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\b[A-Z][a-zA-Z0-9]*)</string>
          <key>name</key>
          <string>entity.name.type.dex</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(((\.)|(,)|(!)|(\$)|(\^)|(&amp;)|(\*)|(:)|(-)|(~)|(\+)|(/)|(=)|(&lt;)|(&gt;)|(\|)|(\?)|(\\)|(@)))</string>
          <key>name</key>
          <string>keyword.operator.dex</string>
        </dict>
       </array>
    </dict>
    <key>main__1</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\\(?:\\|&quot;))</string>
          <key>name</key>
          <string>constant.character.escape.dex</string>
        </dict>
        <dict>
          <key>match</key>
          <string>([^\x{0022}\x{005c}]+)</string>
          <key>name</key>
          <string>string.quoted.double.dex</string>
        </dict>
       </array>
    </dict>
  </dict>
</dict>
</plist>
