*.hi
*.o
test.db
*.prof
test-script.cd
*.out
*.so
*.egg-info
.stack-work
.stack-work-prof
garbage.hs
*.lock
*.pyc
doc/
scratch*
scratch/
test-scratch/
dist-newstyle/
*.cache
*.db
*.bc
.benchmarks
benchmarks/exe/**/*
benchmarks/parboil/data
benchmarks/rodinia/rodinia
examples/export/scalar
examples/export/array
hie.yaml
Manifest.toml
julia/deps/build.log
examples/t10k-images-idx3-ubyte
examples/t10k-labels-idx1-ubyte
